<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Workshop HTML &amp; CSS</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="description" content="Description" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <!-- Theme: Simple -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/docsify-themeable@0/dist/css/theme-simple.css">
  </head>
  <body>
    <div id="app"></div>
    <script>
      window.$docsify = {
        name: "Webworkshop",
        repo: "lars-derichter/webworkshop-cursus",
        loadSidebar: true,
        subMaxLevel: 3,
        auto2top: true,
        markdown: {
          gfm: true,
          tables: true,
          smartLists: true,
          smartypants: false,
        },
        pagination: {
          previousText: "Vorige",
          nextText: "Volgende",
          crossChapter: true,
          crossChapterText: true,
        },
      };
    </script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/docsify/4.13.0/docsify.min.js"
      integrity="sha512-Qf5jm6dXW/In/Xgh12itTxddJYBkRVno1mWciQp3L4cQM9qlXj08kwuiOQsugbpZF32LRPhMueVZDHxNMVuGuw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/docsify-themeable@0/dist/js/docsify-themeable.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/docsify@4/lib/plugins/search.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/docsify@4/lib/plugins/zoom-image.min.js"></script>
    <script src="//unpkg.com/docsify-pagination/dist/docsify-pagination.min.js"></script>
    <script src="https://unpkg.com/docsify-copy-code@2"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/prism/9000.0.1/prism.min.js"
      integrity="sha512-UOoJElONeUNzQbbKQbjldDf9MwOHqxNz49NNJJ1d90yp+X9edsHyJoAs6O4K19CZGaIdjI5ohK+O2y5lBTW6uQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
  </body>
</html>
